<h1>Comparison of Individual Queries</h1>



<div class="nav_menu">
	<%=select_tag options_for_select(@queries)%>
	<table>
		<% @queries.each do |q| %>
			<tr>
			<td><span><%= q %></span></td>
				<% @db_names.each do |engine| %>
					<td><%=link_to engine, comparison_single_query_url(:query => q, :engine => engine) %></td>
				<%end%>
		</tr>
		<%end%>
	</table>
</div>


<div class="stats-div">
	
	
	<div>
		<h3>Recall</h3>
		<p><%= @recall%>%</p>
	</div>
	
	<div>
		<h3>Precision</h3>
		<p><%= @precision%></p>
	</div>
	
	<div>
		<h3>Precision @ 10</h3>
		<p><%= @P_at_10%></p>
	</div>
	
	
	<div>
		<h3>Average Precision</h3>
		<p><%= @ave_precision%></p>
	</div>
</div>



<table class="single_query_table">
	<tr>
		<th><%= params[:engine] %></th>
		<th>Rank</th>
	</tr>
<% @engine.each do |b|%>
	<tr>
		<td><%= truncate(b.url, :length => 50) %></td>
		<td><%= b.agg_rank || b.query_rank%></td>
	</tr>
<% end %>
</table>


<table class="single_query_table">
	<tr>
		<th>Google</th>
		<th>Rank</th>
	</tr>
<% @googleRes.each do |g|%>
	<tr>
		<td><%= truncate(g.url, :length => 50) %></td>
		<td><%= g.query_rank%></td>
	</tr>
<% end %>
</table>

<div>
		<% @relevant.each do |e|%>
		<p><%= e[0..2] %></p>
	<% end %>
	</div>
