<h1>MetaSearch</h1>

<%= form_tag(:results) do %>
	<%= text_field_tag 'query', nil, :placeholder => 'Search...'%>
	<%= button_tag "Go!", 'data-disable-with' => "Please wait..."%>
	<%= radio_button_tag 'searchType', 'Seperate'%>
	<%= label_tag 'Seperate'%>
	<%= radio_button_tag 'searchType', 'Aggregated'%>
	<%= label_tag 'Aggregated'%>
<% end %>


<%= link_to	'bing/results', results_path %>
<%= link_to	'blekko_results', '/blekko_results' %>
