<h1>MeatSearch feedback form</h1>

<%= form_for @survey, :url => input_path do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.each do |key, value| %>
        <li><%= value %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= f.label "Q1) What is your usual search engine of choice?" %></h3><br />
    <%= f.label "Google" %>
    <%= f.radio_button :norm_eng, 1  %>
    <%= f.label "Yahoo" %>
    <%= f.radio_button :norm_eng, 2  %>
    <%= f.label "Bing" %>
    <%= f.radio_button :norm_eng, 3  %>
    <%= f.label "Entireweb" %>
    <%= f.radio_button :norm_eng, 4  %>
    <%= f.label "Blekko" %>
    <%= f.radio_button :norm_eng, 5  %>
    <%= f.label "other" %>
    <%= f.radio_button :norm_eng, 6  %>
  </div>
  <div class="field">
    <h3><%= f.label "Q2) Do you think MeatSearch is better than your usual Search engine?" %></h3><br />
    <%= f.label "Yes" %>
    <%= f.radio_button :meta_better, 1  %>
    <%= f.label "No" %>
    <%= f.radio_button :meta_better, 0  %>
    
  </div>
  <div class="field">
    <h3><%= f.label "Q3) Do you prefer the aggregated results to the separate results display?" %></h3><br />
    <%= f.label "Yes" %>
    <%= f.radio_button :agg_non, 1  %>
    <%= f.label "No" %>
    <%= f.radio_button :agg_non, 0  %>
  </div>
  <div class="field">
    <h3><%= f.label "Q4) Do you prefer the clustered results to the separate results display?" %></h3><br />
    <%= f.label "Yes" %>
    <%= f.radio_button :clust_non, 1  %>
    <%= f.label "No" %>
    <%= f.radio_button :clust_non, 0  %>
  </div>
  <div class="field">
    <h3><%= f.label "Q5) Is the user interface easy to use?" %></h3><br />
    <%= f.label "Yes" %>
    <%= f.radio_button :interface, 1  %>
    <%= f.label "No" %>
    <%= f.radio_button :interface, 0  %>
  </div>
  <div class="field">
    <h3><%= f.label "Q6) Do you like how the results are presented?" %></h3><br />
    <%= f.label "Yes" %>
    <%= f.radio_button :result_pres, 1  %>
    <%= f.label "No" %>
    <%= f.radio_button :result_pres, 0  %>
  </div>
  <div class="field">
    <h3><%= f.label "Q7) Are the various aspects of the search engine fast enough?" %></h3><br />
    <%= f.label "Yes" %>
    <%= f.radio_button :speed, 1  %>
    <%= f.label "No" %>
    <%= f.radio_button :speed, 0  %>
  </div>
  <div class="field">
    <h3><%= f.label "Q8) Would you consider making MeatSearch your default search engine?" %></h3><br />
    <%= f.label "Yes" %>
    <%= f.radio_button :make_default, "t"  %>
    <%= f.label "No" %>
    <%= f.radio_button :make_default, 0  %>
  </div>
  <div class="field">
    <h3><%= f.label "Q9) Is there any additional issues, concerns or suggestions you would like to share?" %></h3><br />
    <%= f.text_area :add_info, :size => "40x10"%>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "submit-button" %>
  </div>
<% end %>
